* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
}

body {
    background-size:cover;
    background: transparent;
    font-size: 16px;
    margin: 0;
}

.widget{
    width: auto;
}

.widget p{
    display: inline-block;
    line-height: 1em;
}

.fecha {
    font-family: Orbitron, Arial;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 0.3125rem;
    /*margin-bottom: 5px;*/
    background: #191919;
    padding: 15px;

    width: 100%;
    color:#ffffff;
}

.reloj {
    font-family: Orbitron, Arial;
    width: 100%;
    padding: 15px;
    font-size: 3em;
    text-align: center;
    background: #191919;
    color:#ffffff;
}

.reloj .caja{
    font-size: 0.6em;
    display: inline-block;
}

