* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background: transparent;
    margin: 0;
}

.widget{
    width: auto;
    height: auto;
    font-size: 16px;
}

.widget p{
    display: inline-block;
    line-height: 1em;
}

.fecha {
    font-family: Orbitron, Arial;
    text-align: center;
    font-size: 1.5em;
    background: #191919;
    padding-bottom: 15px;
    width: 100%;
    color:#ffffff;
}

.reloj {
    font-family: Orbitron, Arial;
    width: 100%;
    padding: 15px;
    font-size: 3em;
    text-align: center;
    background: #191919;
    color:#ffffff;
}

.reloj .caja{
    font-size: 0.6em;
    display: inline-block;
}

.reloj .caja{
    font-size: 0.6em;
    display: inline-block;
}


